html, body {
    margin: 0;
    height: 100%;
    padding: 0;
}
body {
    background-color: #FFFFF;
}
@charset "utf-8";
	.NormalCharacterStyle11
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle12
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle10
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle9
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle14
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle13
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle5
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle4
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle6
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle2
{
	font-family : Aemstel;
	font-size : 72px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle1
{
	font-family : Richie Brusher;
	font-size : 48px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle15
{
	font-family : Lato;
	font-size : 14px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle134
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle155
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle154
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle153
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle152
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle151
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle150
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle149
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle147
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle144
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle143
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle142
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle141
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle140
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle139
{
	font-family : Aemstel;
	font-size : 35px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle138
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle137
{
	font-family : Aemstel;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle136
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle135
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle156
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle106
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle133
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle132
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle131
{
	font-family : Aemstel;
	font-size : 21px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle130
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle145
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle129
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle128
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle127
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle126
{
	font-family : Lato;
	font-size : 14px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle125
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle124
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle123
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle122
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle121
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle148
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle120
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle118
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle117
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle116
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle115
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle114
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle95
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle113
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle112
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle82
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle110
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle109
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle108
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle107
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle65
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle104
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle103
{
	font-family : Aemstel;
	font-size : 48px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle102
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 90px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle119
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle101
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle83
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle99
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle98
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle97
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle96
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle78
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle93
{
	font-family : Aemstel;
	font-size : 48px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle92
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle91
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle90
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle89
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle88
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle87
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle86
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle85
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle84
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle100
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle111
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle62
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle80
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle79
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle94
{
	font-family : Aemstel;
	font-size : 90px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle105
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle76
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle75
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle74
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle73
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle72
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle71
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle70
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle69
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle68
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle67
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle66
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle77
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle63
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle81
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle46
{
	font-family : Playfair Display;
	font-size : 13px;
	color : #E6E7E8;
	color : rgb(230, 231, 232);
}
.NormalCharacterStyle61
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle60
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle59
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle58
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle56
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle55
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle54
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle53
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle52
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle50
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle64
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle49
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle47
{
	font-family : Playfair Display;
	font-size : 13px;
	color : #E6E7E8;
	color : rgb(230, 231, 232);
}
.NormalCharacterStyle51
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle42
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle41
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle44
{
	font-family : Playfair Display;
	font-size : 13px;
	color : #262626;
	color : rgb(38, 38, 38);
}
.NormalCharacterStyle37
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle36
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle35
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle34
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle33
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle38
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle43
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle31
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle32
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle30
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle27
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle48
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle26
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle186
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle25
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle22
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle24
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle191
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle21
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle18
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle45
{
	font-family : Playfair Display;
	font-size : 13px;
	color : #262626;
	color : rgb(38, 38, 38);
}
.NormalCharacterStyle39
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle20
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle17
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : Aemstel;
	font-size : 36px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle57
{
	font-family : Aemstel;
	font-size : 21px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle23
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle29
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle190
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle192
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle187
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle40
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle185
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle188
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle19
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle158
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle159
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle160
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle161
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle162
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle146
{
	font-family : Aemstel;
	font-size : 36px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle163
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle164
{
	font-family : Aemstel;
	font-size : 19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle165
{
	font-family : Aemstel;
	font-size : 19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle166
{
	font-family : Aemstel;
	font-size : 19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle167
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle168
{
	font-family : Aemstel;
	font-size : 19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle184
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle169
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle170
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle171
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle172
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle173
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle174
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle175
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle176
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle157
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle183
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle189
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle177
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle178
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle179
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle180
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle181
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle182
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.backgradient
{
	background : -moz-linear-gradient(19.23% 119.74% 60deg,rgba(214, 109, 117, 1) 0%,rgba(217, 118, 121, 1) 16.44%,rgba(223, 141, 131, 1) 67.64%,rgba(226, 149, 135, 1) 100%);
	background : -webkit-linear-gradient(60deg, rgba(214, 109, 117, 1) 0%, rgba(217, 118, 121, 1) 16.44%, rgba(223, 141, 131, 1) 67.64%, rgba(226, 149, 135, 1) 100%);
	background : -webkit-gradient(linear,19.23% 119.74% ,68.59% -32.24% ,color-stop(0,rgba(214, 109, 117, 1) ),color-stop(0.1644,rgba(217, 118, 121, 1) ),color-stop(0.6764,rgba(223, 141, 131, 1) ),color-stop(1,rgba(226, 149, 135, 1) ));
	background : -o-linear-gradient(60deg, rgba(214, 109, 117, 1) 0%, rgba(217, 118, 121, 1) 16.44%, rgba(223, 141, 131, 1) 67.64%, rgba(226, 149, 135, 1) 100%);
	background : -ms-linear-gradient(60deg, rgba(214, 109, 117, 1) 0%, rgba(217, 118, 121, 1) 16.44%, rgba(223, 141, 131, 1) 67.64%, rgba(226, 149, 135, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D66D75', endColorstr='#E29587' ,GradientType=0)";
	background : linear-gradient(30deg, rgba(214, 109, 117, 1) 0%, rgba(217, 118, 121, 1) 16.44%, rgba(223, 141, 131, 1) 67.64%, rgba(226, 149, 135, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D66D75',endColorstr='#E29587' , GradientType=1);
}
.NormalCharacterStyle271
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle198
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle197
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle196
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle195
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle194
{
	font-family : Aemstel;
	font-size : 24px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle193
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle199
{
	font-family : Aemstel;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle267
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle259
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle269
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle268
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle272
{
	font-family : Aemstel;
	font-size : 36px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle273
{
	font-family : Lato;
	font-size : 9px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle261
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle265
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle260
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle258
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle264
{
	font-family : Lato;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle257
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle256
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle263
{
	font-family : Lato;
	font-size : 10px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle255
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle254
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle262
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle253
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle252
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle247
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle249
{
	font-family : Myriad Pro;
	font-size : 10px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle248
{
	font-family : Myriad Pro;
	font-size : 10px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle251
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle250
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle266
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle270
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle242
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle241
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle240
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle239
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle246
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle238
{
	font-family : Lato;
	font-size : 7px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle237
{
	font-family : Lato;
	font-size : 7px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle245
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle236
{
	font-family : Lato;
	font-size : 7px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle235
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle244
{
	font-family : Aemstel;
	font-size : 36px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle234
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle233
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle232
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle243
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle228
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle206
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle227
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle226
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle231
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle230
{
	font-family : Poppins;
	font-weight : bold;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle229
{
	font-family : Aemstel;
	font-size : 36px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle225
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle224
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle223
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle221
{
	font-family : Myriad Pro;
	font-size : 23px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle220
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle219
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle218
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle222
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle214
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle217
{
	font-family : Lato;
	font-size : 14px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle213
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle216
{
	font-family : Myriad Pro;
	font-size : 21px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle215
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle212
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle205
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle211
{
	font-family : Aemstel;
	font-size : 19px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle204
{
	font-family : Aemstel;
	font-size : 19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle210
{
	font-family : Aemstel;
	font-size : 90px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle203
{
	font-family : Lato;
	font-size : 12px;
	color : #D91C5C;
	color : rgb(217, 28, 92);
}
.NormalCharacterStyle202
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle209
{
	font-family : Lato;
	font-size : 12px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle201
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
.NormalCharacterStyle208
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle200
{
	font-family : Lato;
	font-size : 12px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle207
{
	font-family : Lato;
	font-size : 14px;
	color : #252D47;
	color : rgb(37, 45, 71);
}
