<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="https://7d00med.github.io/portfolio/assets/css/style.css">
        <title>Portfolio</title>
        <link rel="icon" type="img/png" href="https://7d00med.github.io/portfolio/img/p.png">
</head>
<body>
        <div class="imgDIV">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-01.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-02.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-03.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-04.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-05.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-06.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-07.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-08.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-09.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-10.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-11.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-12.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-13.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-14.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-15.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-16.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-17.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-18.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-19.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-20.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-21.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-22.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-23.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-24.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-25.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-26.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-27.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-28.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-29.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-30.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-31.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-32.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-33.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-34.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-35.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-36.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-37.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-38.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-39.png" class="center">
                <img src="https://7d00med.github.io/portfolio/img/portfolio-cv-40.png" class="center">
        </div>
        
</body>
</html>
